
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="center">
    <h2 style="padding-bottom:300px;">Đơn hàng của bạn đã được ghi nhận lại và sẽ được giao đến cửa nhà của bạn sớm nhất có thể :))</h2>
</div>
<style>
    .center {
        text-align: center;
        margin-top: 200px;
    }

</style>

